module Views
  module Layouts
    class Application < Phlex::HTML
      include Phlex::Rails::Helpers::ContentFor
      include Phlex::Rails::Helpers::CSPMetaTag
      include Phlex::Rails::Helpers::CSRFMetaTags
      include Phlex::Rails::Helpers::StyleSheetLinkTag
      include Phlex::Rails::Helpers::JavaScriptImportmapTags
      include Phlex::Rails::Helpers::Notice
      include Phlex::Rails::Helpers::Flash

      def initialize(view)
        @view = view
      end

      def view_template(&block)
        html do
          head do
            title { content_for(:title) || "Asdf" }
            meta(name: "viewport", content: "width=device-width,initial-scale=1")
            meta(name: "apple-mobile-web-app-capable", content: "yes")
            meta(name: "application-name", content: "Asdf")
            meta(name: "mobile-web-app-capable", content: "yes")

            csrf_meta_tags
            csp_meta_tag

            # Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!)
            # = tag.link rel: "manifest", href: pwa_manifest_path(format: :json)
            link(rel: "icon", href: "/icon.png", type: "image/png")
            link(rel: "icon", href: "/icon.svg", type: "image/svg+xml")
            link(rel: "apple-touch-icon", href: "/icon.png")

            # Includes all stylesheet files in app/assets/stylesheets
            stylesheet_link_tag :app, "data-turbo-track": "reload"
            stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
            javascript_importmap_tags
          end
          main do
            div id: "notices" do
              flash.each do |type, message|
                var = convert_variants(type)
                RubyUI::Alert(variant: var) do
                  RubyUI::AlertTitle { variant_title(var) }
                  RubyUI::AlertDescription() { message }
                end
              end
            end
            body do
              div id: "body", &block
            end
          end
        end
      end
    end
  end
end
