# frozen_string_literal: true

class Views::Base < Phlex::HTML
  include Phlexible::Rails::AElement
  include Phlexible::Rails::ControllerVariables
  include Phlexible::Callbacks
  include RubyUI
  include Rails.application.routes.url_helpers

  # More caching options at https://www.phlex.fun/components/caching
  def cache_store = Rails.cache

  # set up layout paths
  def self.auto_layout_view_prefix = "Views::"
  def self.auto_layout_namespace = "Views::Layouts::"
  def self.auto_layout_default = "Views::Layouts::Application"
end
