module Views
  module <%= controller_class_name %>
    class Partial < ApplicationView
      include Phlexible::Callbacks

      def initialize(<%= singular_table_name %>:)
        @<%= singular_table_name %> = <%= singular_table_name %>
      end

      def template
        div(id: helpers.dom_id(@<%= singular_table_name %>), class: "py-6 flex justify-between items-center") do
          div do
            <% attributes.each do |attribute| -%>
            div(class: "mb-2") do
              strong(class: "block text-xs uppercase tracking-wide text-gray-500") { "<%= attribute.human_name %>" }
              p(class: "text-lg") { @<%= singular_table_name %>.<%= attribute.name %>.to_s }
            end
            <% end -%>
          end

          div(class: "flex gap-4") do
            a(href: helpers.<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "text-blue-600 hover:text-blue-800 font-medium") { "View" }
            a(href: helpers.edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "text-gray-600 hover:text-gray-800 font-medium") { "Edit" }
          end
        end
      end
    end
  end
end