module Views
  module <%= controller_class_name %>
    class Form < Components::Form
      def view_template
<% attributes.each do |attribute| -%>
<% if attribute.password_digest? -%>
        FormField do
          FormFieldLabel { "Password" }
          Field(:password).password
          FormFieldError { model.errors[:password].map { "Password #{it}" }.join("\n") }
        end
        FormField do
          FormFieldLabel { "Password Confirmation" }
          Field(:password_confirmation).password
<% elsif attribute.attachments? -%>
        FormField do
          FormFieldLabel { "<%= attribute.column_name %>" }
          Field(:<%= attribute.column_name %>).file
          FormFieldError { model.errors[:<%= attribute.column_name %>].map{ "<%= attribute.human_name %> #{it}" }.join("\n") }
        end
<% else -%>
        FormField do
          FormFieldLabel { "<%= attribute.column_name %>" }
<% if attribute.field_type == :textarea || attribute.field_type == :text_area -%>
          Field(:<%= attribute.column_name %>).textarea
<% elsif attribute.field_type == :checkbox || attribute.field_type == :check_box -%>
          Field(:<%= attribute.column_name %>).checkbox
<% else -%>
          Field(:<%= attribute.column_name %>).input(type: :<%= attribute.field_type %>)
<% end -%>
<% end -%>
          FormFieldError { model.errors[:<%= attribute.password_digest? ? "password_confirmation" : attribute.column_name %>].map { "<%= attribute.human_name %> #{it}" }.join("\n") }
        end
<% end -%>
        div(class: "inline") do
          submit
        end
      end
    end
  end
end
