module Views
  module <%= controller_class_name %>
    class Index < Views::Base
      include Phlexible::Rails::AutoLayout

      def initialize(<%= plural_table_name %>: nil)
        @<%= plural_table_name %> = <%= plural_table_name %>
      end

      controller_variable :<%= plural_table_name %>

      def view_template
        div(class: "w-full px-8") do
          if helpers.notice.present?
            Text(id: "notice") { helpers.notice }
          end

          div(class: "flex justify-between items-center mb-10") do
            Heading(level: 1) { "<%= human_name.pluralize %>" }
            Link(href: new_<%= singular_table_name %>_path) { "New <%= human_name.downcase %>" }
          end

          div(id: "<%= plural_table_name %>", class: "min-w-full divide-y divide-gray-200") do
            @<%= plural_table_name %>.each do |<%= singular_table_name %>|
              div do
                render Partial.new(<%= singular_table_name %>: <%= singular_table_name %>)
                div(class: "flex gap-4") do
                  Link(href: <%= singular_table_name %>_path(<%= singular_table_name %>)) { "View" }
                  Link(href: edit_<%= singular_table_name %>_path(<%= singular_table_name %>)) { "Edit" }
                end
              end
            end
          end
        end
      end
    end
  end
end
