module Views
  module <%= controller_class_name %>
    class New < Views::Base
      include Phlexible::Rails::AutoLayout

      def initialize(<%= singular_table_name %>: nil)
        @<%= singular_table_name %> = <%= singular_table_name %>
      end

      controller_variable :<%= singular_table_name %>

      def view_template
        div(class: "mx-auto md:w-2/3 w-full px-8") do
          Heading(level: 1) { "New <%= human_name.downcase %>" }

          render Form.new(@<%= singular_table_name %>)

          Link(href: helpers.<%= plural_table_name %>_path) { "Back to <%= human_name.pluralize.downcase %>" }
        end
      end
    end
  end
end
