module Views
  module <%= controller_class_name %>
    class Partial < Views::Base
      include Phlex::Rails::Helpers::DOMID

      def initialize(<%= singular_table_name %>: nil)
        @<%= singular_table_name %> = <%= singular_table_name %>
      end

      def view_template
        div(id: dom_id(@<%= singular_table_name %>), class: "py-6 flex justify-between items-center") do
          div do
<% attributes.delete_if{ it.name == "password" }.each do |attribute| -%>
            div(class: "mb-2") do
              Text(as: "strong", size: "4", wight: "bold") { "<%= attribute.human_name %>" }
              Text(size: "4", weight: "semibold") { @<%= singular_table_name %>.<%= attribute.name %>.to_s }
            end
<% end -%>
          end
        end
      end
    end
  end
end
