module Views
  module <%= controller_class_name %>
    class Show < Views::Base
      include Phlexible::Rails::AutoLayout

      def initialize(<%= singular_table_name %>: nil)
        @<%= singular_table_name %> = <%= singular_table_name %>
      end

      controller_variable :<%= singular_table_name %>

      def view_template
        div(class: "mx-auto md:w-2/3 w-full px-8") do
          render Partial.new(<%= singular_table_name %>: @<%= singular_table_name %>)

          div(class: "mt-8 flex gap-4 border-t pt-6") do
            Link(href: edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)) { "Edit this <%= human_name.downcase %>" }
            Link(href: <%= plural_table_name %>_path) { "Back to <%= human_name.pluralize.downcase %>" }

            render Phlexible::Rails::ButtonTo.new(
              <%= singular_table_name %>_path(@<%= singular_table_name %>),
              method: :delete,
              form_attributes: { class: "inline" },
              variant: :destructive
            ) { "Destroy" }
          end
        end
      end
    end
  end
end
